.spinner {
  width: 24px;
  height: 24px;
  border: 2px solid var(--primary);
  border-bottom-color: transparent;
  border-left-color: transparent;
  background: transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
