:root {
  --primary: #fc3363;
  --dark: #1a1a37;
  --dark-light: #5b5c74;
  --yellow: #fcc51e;
  --blue: #83d8e3;
  --dark-offdark: #1e1e40;
  --red: #fc3333;
  --light-offwhite: #f7f7f7;
  --light-offprimary: #fc33631a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primary {
  color: var(--primary);
}
.dark {
  color: var(--dark);
}

.white {
  color: white;
}

.bg-primary {
  background: var(--primary);
}
.bg-dark {
  background: var(--dark);
}

.bg-dark-light {
  background: var(--dark-light);
}

.bg-white {
  background: white;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.d-pr {
  padding-right: 60px;
}

.light-mode {
  color: var(--dark-light);
  background: white;
}

.dark-mode {
  color: white;
  background: var(--dark);
}

.t-center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.layout-links {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.light-hr {
  background: 1px solid #5b5c74;
  width: 100%;
}

.btn-signin {
  color: var(--primary);
  border: 1px solid var(--primary);
  font-size: 20px;
  line-height: 23px;
  padding: 10px 35px;
  background: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
}

.btn-signin:hover {
  opacity: 0.7;
}
/* Z-Index:
 - 200 Backdrop, Modal, Main (because otherwise we can't do Backdrop on it!)
 - 100, Sidebar, Topbar, Main
 - 99, Main



*/
